# 忽略全部檔案
*
*.csv
*.rar
*.zip
*.tar
*.gz
*.log
*.json

# 保留資料夾（這行確保 Git 會繼續往下看子資料夾）
!*/

# 保留特定副檔名
!*.py
!*.ipynb
!*.json
!*.png
!*.pdf
!*.txt
!*.md
!*.css
!*.html
!*.toml
!.gitignore
# 略過資料夾
/作者github資料
/fortinet_ver/artifacts
/Cisco_ver
/fortinet_ver
/備份資料
/__pycache__
*.pyc
